ATDEVDeveloperTest/force-app/main/default/flows/DeleteOpportunityProducts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;No&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>No</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Yes&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2c5afeaf-cc6d-4388-ab26-eec8042c6cc4</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Products_Found</name>
        <label>Check Products Found</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Delete_Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Found</defaultConnectorLabel>
        <rules>
            <name>No_Products_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityLineItem</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityLineItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Products_Message</targetReference>
            </connector>
            <label>No Products Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirm_Deletion</name>
        <label>Confirm Deletion</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>UserChoice_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityLineItem</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DeleteOpportunityProductsFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Opportunity Products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Opportunity_Products</name>
        <label>Delete Opportunity Products</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Completion</targetReference>
        </connector>
        <inputReference>OpportunityLineItem</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>OpportunityLineItem</name>
        <label>Opportunity Line Item</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Products_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Completion</name>
        <label>Completion</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DeleteRecordsComplete</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(55, 208, 203);&quot;&gt;All products were successfully deleted from the opportunity.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This action will delete all products from this Opportunity</description>
        <name>Deletion_Confirmation</name>
        <label>Deletion Confirmation</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirm_Deletion</targetReference>
        </connector>
        <fields>
            <name>User_Choice</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to proceed with the deletion?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Products_Message</name>
        <label>No Products Message</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Products_Label</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(215, 27, 27);&quot;&gt;There are no products available to delete for this opportunity.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(215, 27, 27);&quot;&gt;Please check the associated products or add new products before continuing.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Deletion_Confirmation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
